*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, figure {
  margin: 0;
}

input, button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
          appearance: none;
  background: none;
}

body {
  color: #222;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
}

:root {
  --gutter-x: 15px;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-inline: var(--gutter-x);
}
.header__branding {
  height: 80px;
}
.header__title {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.header__title a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #222;
  text-decoration: none;
}

.menu {
  position: absolute;
  top: 10px;
  right: 0;
}
.menu__button {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 11;
}
.menu__button span {
  position: absolute;
  left: 18px;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  overflow: hidden;
  background-color: #222;
  transition: all 0.2s;
}
.menu__button span:nth-child(1) {
  top: 19px;
}
.menu__button span:nth-child(2) {
  top: 29px;
}
.menu__button span:nth-child(3) {
  top: 39px;
}
.menu__button[aria-expanded=true] span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.menu__button[aria-expanded=true] span:nth-child(2) {
  opacity: 0;
}
.menu__button[aria-expanded=true] span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
.menu__panel {
  position: fixed;
  inset: 0;
  padding-top: 80px;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  background-color: #fff;
  transform: translateY(5%);
  transition-property: opacity, visibility, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.menu__panel[aria-expanded=true] {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 10;
}
.menu__list {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc;
}
.menu__list li {
  display: block;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
}
.menu__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #222;
  line-height: 1.5;
  text-decoration: none;
}

.content {
  min-height: calc(100vh - 120px);
  width: 100%;
  max-width: calc(740px + var(--gutter-x) * 2);
  margin: 40px auto;
  padding: 0 var(--gutter-x);
}
.content__main {
  width: 100%;
}
.content__side {
  width: 320px;
}

.archive {
  display: grid;
  row-gap: 60px;
}

.entry {
  width: 100%;
  margin: auto;
}
.entry a {
  color: #1f997f;
  text-decoration: none;
}
.entry__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}
.entry__title a {
  color: #222;
  text-decoration: none;
}
.entry__meta {
  display: grid;
  row-gap: 0.5em;
  margin-top: 20px;
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}
.entry__meta svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  fill: currentColor;
}
.entry__date {
  display: flex;
  margin: 0;
}
.entry__date dt, .entry__date dd {
  margin: 0;
  display: flex;
  align-items: center;
}
.entry__date dt:not(:first-of-type) {
  margin-left: 1em;
}
.entry__author, .entry__tag {
  display: flex;
  margin: 0;
}
.entry__author dt, .entry__author dd, .entry__tag dt, .entry__tag dd {
  margin: 0;
}
.entry__author dt, .entry__tag dt {
  display: flex;
  align-items: center;
}
.entry__thumbnail {
  margin-top: 30px;
}
.entry__thumbnail a {
  position: relative;
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.entry__thumbnail a::after {
  position: absolute;
  inset: 0;
  border: 5px solid transparent;
  content: "";
  transition: 0.2s;
}
.entry__thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}
.entry__desc {
  margin-top: 1em;
}
.entry__desc p {
  margin: 0;
}
.entry__desc a {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}
.entry__desc svg {
  width: 14px;
  height: 14px;
  margin-left: 0.5em;
  fill: currentColor;
}
.entry__body h2 {
  margin-top: 4.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}
.entry__body h3 {
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: 1.25rem;
}
.entry__body h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.125rem;
}
.entry__body p {
  margin-block: 1rem;
}
.entry__body blockquote {
  margin: 1.7rem 0;
  padding: 0.35em 1em;
  border-left: 0.25em solid #ddd;
  color: #444;
}
.entry__body blockquote p {
  margin: 0;
}
.entry__body pre {
  font-size: 1rem;
  line-height: 1.5;
}
.entry__body code {
  position: relative;
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
}
.entry__body p code {
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background-color: #eee;
}

.breadcrumb ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumb li {
  display: inline;
  word-break: break-all;
}
.breadcrumb li:not(:first-child)::before {
  content: "/";
  margin: 0 0.5rem;
}
.breadcrumb a {
  color: #222;
  text-decoration: none;
}

.sidebar__block {
  padding: 40px 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  color: #222;
  background-color: #fff;
}
.sidebar__title {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5;
  border-bottom: 3px solid #1f997f;
}

.footer {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #efefef;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}
@media screen and (min-width: 420px) {
  .entry__meta--single {
    width: 100%;
    grid-template-columns: 1fr 100px;
  }
  .entry__author {
    margin-left: auto;
  }
}
@media screen and (min-width: 576px) {
  :root {
    --gutter-x: 30px;
  }
  .menu {
    position: relative;
    top: auto;
  }
  .menu__button {
    display: none;
  }
  .menu__panel {
    position: relative;
    padding-top: 0;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    transform: none;
    z-index: 1;
  }
  .menu__list {
    display: flex;
    border-top: none;
    justify-content: flex-end;
    column-gap: 1rem;
  }
  .menu__list li {
    width: auto;
    height: 80px;
    border-bottom: none;
  }
}
@media screen and (min-width: 992px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 320px;
    column-gap: 40px;
    max-width: 1200px;
    margin-block: 60px;
  }
  .content__main {
    max-width: 740px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .header__title a {
    transition: opacity 0.2s;
  }
  .header__title a:hover {
    opacity: 0.7;
  }
  .entry a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.1em;
  }
  .entry__thumbnail a:hover::after {
    border-color: #1f997f;
  }
}
