*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, figure {
  margin: 0;
}

input, button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
          appearance: none;
  background: none;
}

:root {
  --color-base: #333;
  --color-primary: #1f997f;
  --color-border: #ddd;
  --gutter-x: 15px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-base);
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid var(--color-border);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-inline: var(--gutter-x);
}
.header__branding {
  height: 60px;
}
.header__title {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0;
  font-size: 1.125rem;
  font-weight: bold;
}
.header__title a {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--color-base);
  text-decoration: none;
}

.header-menu {
  position: absolute;
  top: 0;
  right: 0;
}
.header-menu__button {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 11;
}
.header-menu__button span {
  position: absolute;
  left: 18px;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  overflow: hidden;
  background-color: var(--color-base);
  transition: all 0.2s;
}
.header-menu__button span:nth-child(1) {
  top: 19px;
}
.header-menu__button span:nth-child(2) {
  top: 29px;
}
.header-menu__button span:nth-child(3) {
  top: 39px;
}
.header-menu__button[aria-expanded=true] span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.header-menu__button[aria-expanded=true] span:nth-child(2) {
  opacity: 0;
}
.header-menu__button[aria-expanded=true] span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
.header-menu__panel {
  position: fixed;
  inset: 0;
  padding-top: 60px;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  background-color: #fff;
  transform: translateY(5%);
  transition-property: opacity, visibility, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.header-menu__panel[aria-expanded=true] {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 10;
}
.header-menu__list {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ddd;
}
.header-menu__list li {
  display: block;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
}
.header-menu__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-base);
  line-height: 1.5;
  text-decoration: none;
}

.body {
  flex: 1;
  display: grid;
  grid-template-columns: 100%;
  gap: 40px;
  width: 100%;
  max-width: calc(740px + var(--gutter-x) * 2);
  margin: 40px auto;
  padding: 0 var(--gutter-x);
}
.body--404 {
  width: -moz-fit-content;
  width: fit-content;
}

.main {
  width: 100%;
}
.main--archive {
  display: grid;
  gap: 20px;
}

.main-card__link {
  display: block;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  overflow: hidden;
  color: var(--color-base);
  text-decoration: none;
  transition: 0.2s;
}
.main-card__thumbnail {
  position: relative;
  overflow: hidden;
}
.main-card__thumbnail::before {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0;
  content: "";
  transition: 0.2s;
}
.main-card__thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 600/315;
  object-fit: cover;
  transition: 0.2s;
}
.main-card__body {
  display: grid;
  grid-template-rows: 1fr min-content;
  row-gap: 1em;
  padding: 1em;
}
.main-card__title {
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
}
.main-card__meta {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}
.main-card__meta svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  fill: currentColor;
}
.main-card__date {
  display: flex;
  margin: 0;
}
.main-card__date dt, .main-card__date dd {
  margin: 0;
  display: flex;
  align-items: center;
}
.main-card__date dt:not(:first-of-type) {
  margin-left: 1em;
}

.main-entry {
  width: 100%;
  margin: auto;
}
.main-entry a {
  color: var(--color-primary);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}
.main-entry__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}
.main-entry__meta {
  display: grid;
  row-gap: 0.5em;
  margin-top: 20px;
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}
.main-entry__meta svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  fill: currentColor;
}
.main-entry__date {
  display: flex;
  margin: 0;
}
.main-entry__date dt, .main-entry__date dd {
  margin: 0;
  display: flex;
  align-items: center;
}
.main-entry__date dt:not(:first-of-type) {
  margin-left: 1em;
}
.main-entry__author, .main-entry__tag {
  display: flex;
  margin: 0;
}
.main-entry__author dt, .main-entry__author dd, .main-entry__tag dt, .main-entry__tag dd {
  margin: 0;
}
.main-entry__author dt, .main-entry__tag dt {
  display: flex;
  align-items: center;
}
.main-entry__thumbnail {
  margin-top: 4rem;
}
.main-entry__thumbnail img {
  width: 100%;
  height: auto;
}
.main-entry__body h2 {
  margin-top: 5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  counter-reset: step;
}
.main-entry__body h3 {
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  counter-reset: step;
}
.main-entry__body p {
  margin-block: 1rem;
}
.main-entry__body a {
  color: var(--color-primary);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}
.main-entry__body figure {
  margin: 1.7rem 0;
}
.main-entry__body img {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--color-border);
  transition: 0.2s;
}
.main-entry__body .is-style-block-step {
  position: relative;
  margin-top: 2rem;
  padding-left: 2em;
  counter-increment: step;
}
.main-entry__body .is-style-block-step::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.7em;
  content: counter(step, decimal-leading-zero);
  color: var(--color-primary);
  font-weight: bold;
}
.main-entry__body .is-style-block-info {
  position: relative;
  padding: 1em 1em 1em 3em;
  background-color: #fdf9e2;
}
.main-entry__body .is-style-block-info::before {
  position: absolute;
  top: 1.25em;
  left: 1em;
  display: block;
  width: 1.2em;
  height: 1.2em;
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M45.8 14.4c-1.2-2.8-2.9-5.3-5.1-7.5-2.2-2.2-4.7-3.9-7.5-5C30.3.6 27.2 0 24 0c-3.2 0-6.3.6-9.2 1.9C12 3 9.5 4.7 7.3 6.9s-3.9 4.7-5.1 7.5C1 17.3.3 20.4.3 23.6c0 5.1 1.6 9.9 4.6 13.9 1.3 1.7 1.7 3.9 1.2 6l-.9 3.7c-.1.2 0 .4.2.6.1.1.3.2.5.2H6l6.5-1.9c.7-.2 1.4-.3 2-.3.7 0 1.5.1 2.2.3 2.3.7 4.7 1.1 7.2 1.1 3.2 0 6.3-.6 9.2-1.9 2.8-1.2 5.3-2.9 7.5-5.1 2.2-2.2 3.9-4.7 5.1-7.5 1.2-2.9 1.9-6 1.9-9.2 0-3.1-.6-6.2-1.8-9.1zM27 37.5c0 .4-.3.7-.7.7h-5.4c-.4 0-.7-.3-.7-.7V20.4c0-.4.3-.7.7-.7h5.4c.4 0 .7.3.7.7v17.1zm-3.4-20.6c-2.1 0-3.7-1.7-3.7-3.7 0-2.1 1.7-3.7 3.7-3.7 2.1 0 3.7 1.7 3.7 3.7 0 2.1-1.6 3.7-3.7 3.7z" fill="%23f7a535"/></svg>');
}
.main-entry__body .wp-block-quote {
  position: relative;
  margin: 0;
  padding: 1em 1em 1em 3em;
  background-color: #f6f6f6;
}
.main-entry__body .wp-block-quote::before {
  position: absolute;
  top: 0.85em;
  left: 0.5em;
  display: block;
  width: 2em;
  height: 2em;
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M18.853 9.116c-7.53 4.836-11.714 10.465-12.55 16.887C5 36 13.94 40.893 18.47 36.497 23 32.1 20.285 26.52 17.005 24.994c-3.28-1.525-5.286-.994-4.936-3.032.35-2.039 5.016-7.69 9.116-10.323a.749.749 0 0 0 .114-1.02L20.285 9.3c-.44-.572-.862-.55-1.432-.185ZM38.679 9.116c-7.53 4.836-11.714 10.465-12.55 16.887-1.303 9.997 7.637 14.89 12.167 10.494 4.53-4.397 1.815-9.977-1.466-11.503-3.28-1.525-5.286-.994-4.936-3.032.35-2.039 5.017-7.69 9.117-10.323a.749.749 0 0 0 .113-1.02L40.11 9.3c-.44-.572-.862-.55-1.431-.185Z" fill="%23ddd"/></svg>');
}
.main-entry__body .wp-block-quote p {
  margin: 0;
}
.main-entry__body .wp-block-quote cite {
  position: relative;
  display: block;
  padding-left: 1.5em;
  font-style: normal;
}
.main-entry__body .wp-block-quote cite::before {
  position: absolute;
  top: 0.85em;
  left: 0;
  display: block;
  width: 1em;
  height: 1px;
  content: "";
  background-color: var(--color-base);
}
.main-entry__body .wp-block-quote cite a {
  color: var(--color-primary);
}
.main-entry__body pre {
  font-size: 1rem;
  line-height: 1.5;
}
.main-entry__body code {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  white-space: pre;
}
.main-entry__body p code {
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background-color: #eee;
}

#toc_container {
  margin-top: 4em;
  padding: 1.5em 1em 1em;
  background-color: #f6f6f6;
  line-height: 1.5;
}

.toc_title {
  margin: 0 !important;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
}

.toc_list {
  margin: 1em 0 0;
  padding: 0;
  list-style: none;
  color: var(--color-base);
}
.toc_list li {
  position: relative;
  margin: 0.25em 0 0.25em 2em;
}
.toc_list > li {
  counter-increment: h2;
}
.toc_list > li::before {
  position: absolute;
  top: 0;
  right: calc(100% + 0.5em);
  content: counter(h2) ".";
  color: #666;
  white-space: nowrap;
}
.toc_list ul {
  padding: 0;
  list-style: none;
  font-size: 0.875em;
  counter-reset: h3;
}
.toc_list ul li {
  margin-left: 2em;
  counter-increment: h3;
}
.toc_list ul li::before {
  position: absolute;
  top: 0;
  right: calc(100% + 0.5em);
  content: counter(h2) "-" counter(h3) ".";
  color: #666;
  white-space: nowrap;
}
.toc_list a {
  color: inherit;
  text-decoration: none;
}

.lum-lightbox-inner img.lum-img {
  max-width: 100%;
}

.main-breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-block: 1px solid #ddd;
  font-size: 0.75em;
  background-color: #f6f6f6;
}
.main-breadcrumb__list {
  width: 100%;
  max-width: calc(740px + var(--gutter-x) * 2);
  padding: 0 var(--gutter-x);
  list-style: none;
}
.main-breadcrumb__list li {
  display: inline;
  word-break: break-all;
  color: #555;
}
.main-breadcrumb__list li:not(:first-child)::before {
  content: "/";
  margin: 0 0.5rem;
}
.main-breadcrumb__list a {
  color: inherit;
  text-decoration: none;
}

.main-404__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}
.main-404__body br {
  display: none;
}
.main-404__body a {
  color: var(--color-primary);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
}

.side {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}

.side-profile {
  border: 1px solid var(--color-border);
  border-radius: 4px;
}
.side-profile__title {
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid var(--color-border);
  font-size: 1rem;
  line-height: 1.5;
}
.side-profile__body {
  padding: 1em;
}
.side-profile__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.side-profile__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.side-profile__name {
  font-size: 1.125rem;
  letter-spacing: 0.05em;
  text-align: center;
}
.side-profile__desc {
  font-size: 0.875rem;
}
.side-profile__desc p {
  margin: 0;
}
.side-profile__desc p:nth-child(n+2) {
  margin-top: 0.5em;
}
.side-profile__desc a {
  color: var(--color-primary);
}
.side-profile__sns-list {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}
.side-profile__sns-list li {
  width: 40px;
  height: 40px;
}
.side-profile__sns-list a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  color: #666;
}
.side-profile__sns-list svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: #f6f6f6;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #555;
  font-size: 0.75em;
  line-height: 1.5;
}
.footer__copyright small {
  font-size: inherit;
}

.footer-button {
  position: fixed;
  bottom: -60px;
  right: 30px;
  width: 50px;
  height: 50px;
  margin: 0;
  transition: bottom 0.2s;
}
.footer-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  color: var(--color-primary);
  background-color: #fff;
}
.footer-button svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.footer-button[data-scrolled=true] {
  bottom: 30px;
}

.scroll-observer {
  position: absolute;
  top: 200px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
}

@media screen and (min-width: 420px) {
  .main-entry__meta--single {
    width: 100%;
    grid-template-columns: 1fr 100px;
  }
  .main-entry__author {
    margin-left: auto;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --gutter-x: 30px;
  }
  .header-menu {
    position: relative;
    top: auto;
  }
  .header-menu__button {
    display: none;
  }
  .header-menu__panel {
    position: relative;
    padding-top: 0;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    transform: none;
    z-index: 1;
  }
  .header-menu__list {
    display: flex;
    border-top: none;
    justify-content: flex-end;
    column-gap: 1rem;
  }
  .header-menu__list li {
    width: auto;
    border-bottom: none;
  }
  .body {
    margin-block: 60px;
  }
  .main--archive {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-entry__title {
    font-size: 2rem;
  }
  #toc_container {
    margin-inline: 40px;
    padding: 2em;
  }
  .main-404__title {
    font-size: 2rem;
  }
  .main-404__body br {
    display: inline;
  }
}

@media screen and (min-width: 1020px) {
  .body {
    grid-template-columns: 1fr 320px;
    max-width: 1200px;
  }
  .body--404 {
    grid-template-columns: 100%;
  }
  .main {
    max-width: 740px;
  }
  .main-breadcrumb__list {
    max-width: 1200px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header__title a {
    transition: opacity 0.2s;
  }
  .header__title a:hover {
    opacity: 0.7;
  }
  .main-card__link:hover {
    border-color: var(--color-primary);
  }
  .main-card__link:hover .main-card__thumbnail::before {
    opacity: 0.02;
  }
  .main-card__link:hover .main-card__thumbnail img {
    transform: scale(1.05);
  }
  .main-entry__body img {
    cursor: zoom-in;
  }
  .main-entry__body img:hover {
    border-color: var(--color-primary);
  }
  .toc_list a {
    transition: 0.2s;
  }
  .toc_list a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  .main-breadcrumb__list a {
    transition: 0.2s;
  }
  .main-breadcrumb__list a:hover {
    opacity: 0.6;
  }
  .side-profile__sns-list a {
    transition: 0.2s;
  }
  .side-profile__sns-list a:hover {
    color: var(--color-primary);
  }
  .footer-button a {
    transition: 0.2s;
  }
  .footer-button a:hover {
    color: #fff;
    background-color: var(--color-primary);
  }
}
