// ==============================
//   base
// ==============================

@use 'setting' as *;


// ---------- whole ----------
body {
  color: $color-base;
  // https://ics.media/entry/200317/
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
}


// ---------- custom properties ----------
:root {
  --gutter-x: 15px;
  @include mq(sm) {
    --gutter-x: 30px;
  }
}