// ==============================
//   コンテンツ
// ==============================

@use 'setting' as *;


// ---------- content ----------
.content {
  min-height: calc(100vh - 120px);
  width: 100%;
  max-width: calc($width-main + var(--gutter-x) * 2);
  margin: 40px auto;
  padding: 0 var(--gutter-x);
  @include mq(lg) {
    display: grid;
    grid-template-columns: 1fr 320px;
    column-gap: 40px;
    max-width: 1200px;
    margin-block: 60px;
  }
  &__main {
    width: 100%;
    @include mq(lg) {
      max-width: $width-main;
    }
  }
  &__side {
    width: $width-side;
  }
}


// ---------- archive ----------
.archive {
  display: grid;
  row-gap: 60px;
}


// ---------- entry ----------
.entry {
  width: 100%;
  margin: auto;
  a {
    color: $color-primary;
    text-decoration: none;
    @include mq-hover {
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.1em;
      }
    }
  }
  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    a {
      color: $color-base;
      text-decoration: none;
    }
  }
  &__meta {
    display: grid;
    row-gap: 0.5em;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    &--single {
      @include mq(420px) {
        width: 100%;
        grid-template-columns: 1fr 100px;
      }
    }
    svg {
      width: 14px;
      height: 14px;
      margin-right: 5px;
      fill: currentColor;
    }
  }
  &__date {
    display: flex;
    margin: 0;
    dt, dd {
      margin: 0;
      display: flex;
      align-items: center;
    }
    dt {
      &:not(:first-of-type) {
        margin-left: 1em;
      }
    }
  }
  &__author,
  &__tag {
    display: flex;
    margin: 0;
    dt, dd {
      margin: 0;
    }
    dt {
      display: flex;
      align-items: center;
    }
  }
  &__author {
    @include mq(420px) {
      margin-left: auto;
    }
  }
  &__thumbnail {
    margin-top: 30px;
    a {
      position: relative;
      display: block;
      width: 100%;
      max-width: 600px;
      margin: auto;
      &::after {
        position: absolute;
        inset: 0;
        border: 5px solid transparent;
        content: "";
        transition: 0.2s;
      }
      @include mq-hover {
        &:hover {
          &::after {
            border-color: $color-primary;
          }
        }
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__desc {
    margin-top: 1em;
    p {
      margin: 0;
    }
    a {
      display: flex;
      align-items: center;
      width: fit-content;
      margin-left: auto;
      text-decoration-thickness: 1px;
      text-underline-offset: 0.1em;
    }
    svg {
      width: 14px;
      height: 14px;
      margin-left: 0.5em;
      fill: currentColor;
    }
  }
  &__body {
    h2 {
      margin-top: 4.5rem;
      margin-bottom: 0;
      font-size: 1.5rem;
      line-height: 1.5;
    }
    h3 {
      margin-top: 3rem;
      margin-bottom: 0;
      font-size: 1.25rem;
    }
    h4 {
      margin-top: 1.5rem;
      margin-bottom: 0;
      font-size: 1.125rem;
    }
    p {
      margin-block: 1rem;
    }
    blockquote {
      margin: 1.7rem 0;
      padding: 0.35em 1em;
      border-left: 0.25em solid #ddd;
      color: #444;
      p {
        margin: 0;
      }
    }
    pre {
      font-size: 1rem;
      line-height: 1.5;
    }
    code {
      position: relative;
      font-family: "Source Code Pro", monospace;
      font-weight: 500;
    }
    p {
      code {
        padding: 0.2em 0.4em;
        font-size: 0.9em;
        background-color: #eee;
      }
    }
  }
}


// ---------- breadcrumb ----------
.breadcrumb {
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline;
    word-break: break-all;
    &:not(:first-child) {
      &::before {
        content: "/";
        margin: 0 0.5rem;
      }
    }
  }
  a {
    color: $color-base;
    text-decoration: none;
  }
}