// ==============================
//   reset
// ==============================

@use 'setting' as *;

*,
*::before,
*::after {
  box-sizing:border-box;
}
html, body, figure {
  margin: 0;
}
input, button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  appearance: none;
  background: none;
}